template#dd-channel-plot-tpl
    div(:style="'overflow:scroll;height:' + scrollFrameHeight + 'px;'")
        div(v-for="(channel, i) in dataLayout")
            // el-row(:gutter="20", style="margin-bottom: 10px;")
            //    el-col(:span="24")
            //        a(:href="svg", :download="'test.svg'") SVG
            el-row(:gutter="20", style="margin-bottom: 10px;")
                el-col(:span="24")
                    dd-line-graph(:data="dataBuffer[i]", :label="channel.data.label",
                        :width="graphWidth", :height="graphHeight", :min="yMin", :max="yMax")