template#dd-channel-specs-tpl
    el-table(:data="dataLayout", border, style="width: 100%")
        el-table-column(prop="title", label="Channel Title")
        el-table-column(prop="data.unit", label="Unit")