template#dd-app-main-tpl
    el-row(:gutter="20")
        el-col(:span="24", v-if='!channelLayout')
            dd-load-dataset(@openset='handleDatasetOpen')

        el-col(:span="24", v-if='!channelLayout')
            dd-load-spiketrains(@openspiketrains='handleSpiketrainsOpen')

        el-col(:span="24", v-if='channelLayout')
            dd-channel-menu(:channel-layout='channelLayout',
                @datalayout='handleDataLayout', @channelselect='handleChannelSelect')

        el-col(:span="24", v-if='dataLayout')
            dd-transport(:data-layout='dataLayout',
                :channel-key='channelKey', :data-path='dataPath')

        el-col(:span="24", v-if='dataLayout')
            el-tabs(v-model="activeName")
                el-tab-pane(label="Specs", name="spec")
                    dd-channel-specs(:data-layout='dataLayout')
                el-tab-pane(label="Plot", name="plot")
                    el-row.plot-options(:gutter="20")
                        el-col(:span="4")
                            el-checkbox(v-model="autoUpdate") Auto Update Graphs
                        el-col(:span="4")
                            el-checkbox(v-model="scaleGlobal") Global Y-Axis scale
                        el-col(:span="2", :offset="11")
                            el-button(@click="manualUpdate()", v-if="!autoUpdate",
                                size="mini", type="info") Render Update
                        el-col(:span="2")
                            el-button(@click="screenshot()", size="mini", type="info") PNG Snapshot
                    el-row(:gutter="20")
                        el-col(:span="24")
                            dd-channel-plot(:data-layout='dataLayout',
                                :scale-global="scaleGlobal", :auto-update="autoUpdate")
                el-tab-pane(label="Grid", name="grid")
                    dd-channel-grid(:data-layout='dataLayout')
                el-tab-pane(label="List", name="list")
                    dd-channel-list(:channel-layout='channelLayout', :data-layout='dataLayout')
