template#dd-app-main-tpl
    el-row(:gutter="20")
        el-col(:span="24")
            dd-load-dataset(v-on:openset='handleDatasetOpen',
                data-path='/Users/anton/WebstormProjects/node-chamberlib/data/lmdb/20151208_15h59m12s_nanobrain')
            dd-channel-menu(:channel-layout='channelLayout',
                v-on:datalayout='handleDataLayout', v-on:channelselect='handleChannelSelect')

        el-col(:span="24")
            dd-transport(v-if='dataLayout', :data-layout='dataLayout', :channel-key='channelKey',
                data-path='/Users/anton/WebstormProjects/node-chamberlib/data/lmdb/20151208_15h59m12s_nanobrain')

        el-col(:span="24", v-if='dataLayout')
            el-tabs(v-model="activeName")
                el-tab-pane(label="Specs", name="spec")
                    dd-channel-specs(:data-layout='dataLayout')
                el-tab-pane(label="Plot", name="plot")
                    dd-channel-plot(:data-layout='dataLayout')
                el-tab-pane(label="Grid", name="grid")
                    dd-channel-grid(:data-layout='dataLayout')
                el-tab-pane(label="List", name="list")
                    dd-channel-list(:channel-layout='channelLayout', :data-layout='dataLayout')