{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 7.3
        },
        "modules": "commonjs",
        "useBuiltIns": true,
        "debug": false
      }
    ]
  ],
  "plugins": [
    "transform-runtime"
  ]
}