@import "./theme/index.css";

html {
  cursor:default !important;
  user-select: none;
}

body {
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
  overflow: hidden;
}

.mono {
  font-family: Monaco, monospace;
  input, p, span {
    font-family: Monaco, monospace;
  }
}

.largetext {
  input, p, span {
    font-size: 2em;
  }
}

.gianttext {
  input, p, span {
    font-size: 3.1em;
    line-height: 1.0em;
    margin: 0;
  }
}

.text-small {
  font-size:0.7em;
  line-height:1.0em;
  color: #8492A6;
}

.text-tiny {
  font-size:0.5em;
  line-height:1.0em;
  color: #8492A6;
}

.clearfix {
  clear:both;
}

.hidden {
  visibility: hidden;
}